---
layout: page
title: Tags
permalink: /tag/
foot_js:
  - /js/tags.js
---

<div>
  {% assign tags = site.tags | sort %}
  <div class="nav nav-tabs nav-fill" role="tablist">
    {% for tag in tags %}
      <a href="#{{ tag[0] }}" class="nav-item nav-link{% if forloop.first %} active{% endif %}"
         data-toggle="tab" role="tab" id="{{ tag[0] }}-tab" aria-controls="{{ tag[0] }}"
         aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
        {{ tag[0] }} <span class="badge badge-pill badge-secondary">{{ tag | last | size }}</span>
      </a>
      </li>
    {% endfor %}
  </div>
  <div class="tab-content">
    {% for tag in tags %}
      <div role="tabpanel" id="{{ tag[0] }}" aria-labelledby="{{ tag[0] }}-tab"
           class="tab-pane fade{% if forloop.first %} show active{% endif %}">
        <ul>
          {% for post in tag[1] %}
            <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
              <li>
                {{ post.title }} &nbsp;&middot;&nbsp;
                <small class="post-date">{{ post.date | date_to_string }}</small>
              </li>
            </a>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>
