<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

  {%- capture titlestring -%}
    {%- if page.title -%}
      {{ page.title }}{% if page.subtitle %} &middot; {{ page.subtitle }}{% endif %}
    {%- else -%}
      {{ site.title }}{% if site.subtitle %} &middot; {{ site.subtitle }}{% endif %}
    {%- endif -%}
  {%- endcapture -%}
  <title>{{ titlestring | strip }}</title>

  <meta name="author" content="{{ site.author.name }}" />
  {%- if page.subtitle -%}
    <meta name="description" content="{{ page.subtitle }}" />
  {%- endif -%}

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  {%- if layout.css -%}
    {%- for css in layout.css -%}
      {%- if css contains "//" -%}
        <link rel="stylesheet" href="{{ css }}" />
      {%- else -%}
        <link rel="stylesheet" href="{{ css | prepend: site.baseurl }}" />
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

  {%- if layout.more_css -%}
    {%- for css in layout.more_css -%}
      {%- if css contains "//" -%}
        <link rel="stylesheet" href="{{ css }}" />
      {%- else -%}
        <link rel="stylesheet" href="{{ css | prepend: site.baseurl }}" />
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

  {%- if layout.googlefonts -%}
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ layout.googlefonts | join: '|' }}" />
  {%- endif -%}

  {%- if page.css -%}
    {%- for css in page.css -%}
      {%- if css contains "//" -%}
        <link rel="stylesheet" href="{{ css }}" />
      {%- else -%}
        <link rel="stylesheet" href="{{ css | prepend: site.baseurl }}" />
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

  {%- if page.googlefonts -%}
    {%- for font in page.googlefonts -%}
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ font }}" />
    {%- endfor -%}
  {%- endif -%}

  {%- if layout.head_js -%}
    {%- for js in layout.head_js -%}
      {%- if js contains "//" -%}
        <script src="{{ js }}"></script>
      {%- else -%}
        <script src="{{ js | prepend: site.baseurl }}"></script>
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

  {%- comment %} Facebook OpenGraph tags {% endcomment -%}
  <meta property="og:title" content="{{ titlestring | strip }}" />
  <meta property="og:type" content="website" />
  {%- if page.id -%}
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  {%- else -%}
    <meta property="og:url" content="{{ site.url }}{{ page.url | remove: '/index.html' | remove: '.html' }}" />
  {%- endif -%}
  {%- if page.share-img -%}
    <meta property="og:image" content="{{ page.share-img }}" />
  {%- elsif site.avatar -%}
    <meta property="og:image" content="{{ site.url }}{{ site.avatar }}" />
  {%- else -%}
    <meta property="og:image" content="" />
  {% endif %}
  
  {%- comment %} Twitter summary cards {% endcomment -%}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ site.author.twitter }}" />
  <meta name="twitter:creator" content="@{{ site.author.twitter }}" />
  <meta name="twitter:title" content="{{ titlestring | strip }}" />
  <meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncatewords: 50 }}" />
  {%- if page.share-img -%}
    <meta name="twitter:image" content="{{ page.share-img }}" />
  {%- elsif site.avatar -%}
    <meta name="twitter:image" content="{{ site.url }}{{ site.avatar }}" />
  {%- endif -%}
  
  {%- comment %} KaTeX related includes {% endcomment -%}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css" integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.js" integrity="sha384-PwRUT/YqbnEjkZO0zZxNqcxACrXe+j766U2amXcgMg5457rve2Y7I6ZJSm2A0mS4" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
          // customised options
          // • auto-render specific keys, e.g.:
          delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false},
              {left: '\\(', right: '\\)', display: false},
              {left: '\\[', right: '\\]', display: true}
          ],
          // • rendering keys, e.g.:
          throwOnError : false
        });
    });
  </script>
</head>
