<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

  {%- capture titlestring -%}
    {%- if page.title -%}
      {{ page.title }}{% if page.subtitle %} &middot; {{ page.subtitle }}{% endif %}
    {%- else -%}
      {{ site.title }}{% if site.subtitle %} &middot; {{ site.subtitle }}{% endif %}
    {%- endif -%}
  {%- endcapture -%}
  <title>{{ titlestring | strip }}</title>

  <meta name="author" content="{{ site.author.name }}" />
  {%- if page.subtitle -%}
    <meta name="description" content="{{ page.subtitle }}" />
  {%- endif -%}

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  {%- if layout.css -%}
    {%- for css in layout.css -%}
      {%- if css contains "//" -%}
        <link rel="stylesheet" href="{{ css }}" />
      {%- else -%}
        <link rel="stylesheet" href="{{ css | prepend: site.baseurl }}" />
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

  {%- if layout.more_css -%}
    {%- for css in layout.more_css -%}
      {%- if css contains "//" -%}
        <link rel="stylesheet" href="{{ css }}" />
      {%- else -%}
        <link rel="stylesheet" href="{{ css | prepend: site.baseurl }}" />
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

  {%- if layout.googlefonts -%}
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ layout.googlefonts | join: '|' }}" />
  {%- endif -%}

  {%- if page.css -%}
    {%- for css in page.css -%}
      {%- if css contains "//" -%}
        <link rel="stylesheet" href="{{ css }}" />
      {%- else -%}
        <link rel="stylesheet" href="{{ css | prepend: site.baseurl }}" />
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

  {%- if page.googlefonts -%}
    {%- for font in page.googlefonts -%}
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ font }}" />
    {%- endfor -%}
  {%- endif -%}

  {%- if layout.head_js -%}
    {%- for js in layout.head_js -%}
      {%- if js contains "//" -%}
        <script src="{{ js }}"></script>
      {%- else -%}
        <script src="{{ js | prepend: site.baseurl }}"></script>
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

  {%- comment %} Facebook OpenGraph tags {% endcomment -%}
  <meta property="og:title" content="{{ titlestring | strip }}" />
  <meta property="og:type" content="website" />
  {%- if page.id -%}
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  {%- else -%}
    <meta property="og:url" content="{{ site.url }}{{ page.url | remove: '/index.html' | remove: '.html' }}" />
  {%- endif -%}
  {%- if page.share-img -%}
    <meta property="og:image" content="{{ page.share-img }}" />
  {%- elsif site.avatar -%}
    <meta property="og:image" content="{{ site.url }}{{ site.avatar }}" />
  {%- else -%}
    <meta property="og:image" content="" />
  {% endif %}
  
  {%- comment %} Twitter summary cards {% endcomment -%}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ site.author.twitter }}" />
  <meta name="twitter:creator" content="@{{ site.author.twitter }}" />
  <meta name="twitter:title" content="{{ titlestring | strip }}" />
  <meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncatewords: 50 }}" />
  {%- if page.share-img -%}
    <meta name="twitter:image" content="{{ page.share-img }}" />
  {%- elsif site.avatar -%}
    <meta name="twitter:image" content="{{ site.url }}{{ site.avatar }}" />
  {%- endif -%}
  
  {%- comment %} mathjax in style of math.stackexchange {% endcomment -%}
   <script>
   window.MathJax = {
      options: {
        skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
        ignoreHtmlClass: 'tex2jax_ignore',
        processHtmlClass: 'tex2jax_process',
        renderActions: {
          find_script_mathtex: [10, function(doc) {
            for (const node of document.querySelectorAll('script[type^="math/tex"]')) {
              const display = !!node.type.match(/; *mode=display/);
              const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
              const text = document.createTextNode('');
              node.parentNode.replaceChild(text, node);
              math.start = {node: text, delim: '', n: 0};
              math.end = {node: text, delim: '', n: 0};
              doc.math.push(math);
            }
          }, '']
        }
      },
      tex: {
        inlineMath: [ ['$$','$$'], ["\\(", "\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: true,
        macros: {
            R: "{\\mathbb R}",
            N: "{\\mathbb N}",
            C: "{\\mathbb C}",
            Z: "{\\mathbb Z}",
            Q: "{\\mathbb Q}",
            SL: "{\\operatorname {SL}}",
            SO: "{\\operatorname {SO}}",
            GL: "{\\operatorname {GL}}",
            id: "{\\mathbb {id}}",
            tr: "{\\operatorname {tr}}",
            trans: "{\\mathrm T}",
            Span: "{\\operatorname {Span}}",
            Hom: "{\\operatorname {Hom}}",
            Rep: "{\\operatorname {Rep}}",
            Aut: "{\\operatorname {Aut}}",
            End: "{\\operatorname {End}}",
            Repart: "{\\operatorname {Re}}",
            Impart: "{\\operatorname {Im}}",
            im: "{\\operatorname {im}}",
            rk: "{\\operatorname {rank}}",
            nullity: "{\\operatorname {null}}",
            Stab: "{\\operatorname {Stab}}",
            Zmod: ["{\\mathbb Z / #1 \\mathbb Z}",1],
            bold: ["{\\bf #1}",1],
            Abs: ['\\left\\lvert #2 \\right\\rvert_{\\text{#1}}', 2, ""]
        }
      },
      loader: {
        load: ['input/tex', 'output/chtml']
      }
    };
  </script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

</head>
