---
css:
  - "//use.fontawesome.com/releases/v5.3.1/css/all.css"
  - "//stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
  - "//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css"
  - "/css/main.css"
googlefonts:
  - "EB+Garamond:400,400i,700,700i"
  - "Open+Sans+Condensed:300,700"
  - "Cormorant+Upright:300"
head_js:
  - "//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
  - "//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  - "//stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
foot_js:
  - "/js/main.js"
# layout: compress
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include nav.html %}
    {{ content }}
    {% include footer.html %}
    {% include footer-scripts.html %}
  </body>
</html>
