---
layout: base
---

{% include pagetitle.html type="post" %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <main role="main" class="blog-post">
        {{ content }}
        {% include bibtex.html %}
      </main>
      {% if page.lastedit %}
      <span class="lastedit">Last edit: <time>{{ page.lastedit | date: "%-d %B, %Y" }}</time></span>
      {% endif %}
      {% include social-share.html %}
      {% include disqus.html %}
    </div>
  </div>
</div>
<div class="container pager">
  <div class="row justify-content-between">
    <div class="col-lg-1 col-md-1 arrowbox">
      {% if page.previous.url %}
        <a class="arrow" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">‹</a>
      {% endif %}
    </div>
    <div class="col-lg-8 col-md-10"></div>
    <div class="col-lg-1 col-md-1 arrowbox" style="text-align:left">
      {% if page.next.url %}
        <a class="arrow" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">›</a>
      {% endif %}
    </div>
  </div>
</div>
